.box1{
    background-color: blue;
    height: 120px;
}

.redes{
    font-size: 60px!important;
    color: white;
}

.box2{
    background-color: blue;
    height: 60px;
}

.textos{
    color: white;
}